<% content_for :title do %>Connect With Us<% end %>
<% content_for :description do %>Description<% end %>

<div class="full_page_photo">
  <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;geocode=&amp;q=denver&amp;aq=&amp;sll=39.750038,-104.998792&amp;sspn=0.000578,0.001183&amp;ie=UTF8&amp;hq=&amp;&amp;ll=39.75009,-104.99856&amp;spn=0.35721,1.318359&amp;t=m&amp;z=11&amp;output=embed"></iframe>
</div>
<div id="subpage_main">
  <div class="container">
    <section id="contact">
      <div class="hgroup">
        <h1>Contact with  us</h1>

        <h2>Always eager to engage those with questions or inquires as to proCATALYST's services.</h2>
        <ul class="breadcrumb pull-right">
          <li><%= link_to "Home", root_path %>
            <span class="divider">/</span></li>
          <li class="active">Contact</li>
        </ul>
      </div>
      <div class="row">
        <div class="span4 office_address">
          <address>
            <strong>proCATALYST Group, LLC</strong><br>
            <%= mail_to 'info@procatalystgroup.com' %>
          </address>
        </div>
        <div class="span8 contact_form">
          <%= form_for @contact, url: {action: "create"} do |f| %>
            <%= render 'shared/error_messages', :object => f.object  %>
              <div class="row">
                <div class="span4">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, :class => 'span4', :placehoder => 'First Name' %>
                </div>
                <div class="span4">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, :class => 'span4', :placehoder => 'Last Name' %>
                </div>
                <div class="span8">
                  <%= f.label :email %>
                  <%= f.email_field :email, :class => 'span8' %>
                  <!--<label>E-mail</label>-->
                  <!--<input type="text" class="span4">-->
                </div>
                <div class="span8">
                  <%= f.label :message %>
                  <%= f.text_area :message, :class => 'span8', :rows => '8' %>
                  <!--<label>Message</label>-->
                  <!--<textarea rows="8" class="span8"></textarea>-->
                </div>
                <div class="span8">
                  <%= f.submit "Submit Message", class: "btn btn-large btn-success" %>
                  <!--<a class="btn btn-large btn-success"><span>Submit Message</span></a>-->
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </section>
    <!--END Contact-->
  </div>

</div>