<header>
  <div class="container">


    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to root_path, :class=>"brand" do%>
            <%= image_tag("restart_logo.png", :alt=>"optional logo", :size=> "90x90") %>
            <span class="logo_title">{re}<strong>start</strong></span>
            <span class="logo_subtitle">a clean &amp; multipurpose template</span>
        <% end %>

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="nb_left pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </span>
          <span class="nb_right pull-right">menu</span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li <%= active?(main_app:root_path) %>>
              <%= link_to "Home", root_path %>
            </li>
            <li <%= active?(main_app:about_path) %>> <%= link_to "About Us", about_path %></li>
            <li <%= active?(main_app:services_path) %>><%= link_to "Services", services_path %></li>
            <li <%= active?(main_app:portfolio_path) %>><%= link_to "Portfolio", portfolio_path %></li>
            <li <%= active?(main_app:blog_path) %>><%= link_to "Blog", blog_path %></li>
            <li <%= active?(main_app:contacts_path) %>><%= link_to "Contact", contacts_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="social_media_wrapper">
      <%= link_to "#facebook" do %>
          <i class="icon icon-facebook"></i>
      <% end %>
      <%= link_to "#twitter" do %>
          <i class="icon icon-twitter"></i>
      <% end %>
      <%= link_to "#googleplus" do %>
          <i class="icon icon-google-plus"></i>
      <% end  %>
    </div>
    <div id="sign">
      <%= link_to register_path do %>
          <i class="icon icon-user"></i>Register
      <% end %>
    </div>
  </div>
</header>