<header>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to root_path, :class=>"brand" do %>
          <span class="logo_title">{pro}<strong>CATALYST</strong></span>
          <span class="logo_subtitle">executive search and strategic hiring experts</span>
        <% end %>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="nb_left pull-left">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
          <span class="nb_right pull-right">menu</span>
        </a>

        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li <%= active?(main_app:about_path) %>> <%= link_to "About Us", about_path %></li>
            <li<%= active?(main_app:catalyst_path) %>> <%= link_to "Catalyst Program", catalyst_path %></li>
            <li<%= active?(main_app:talentscouting_path) %>> <%= link_to "Talent Scouting", talentscouting_path %></li>
            <li <%= active?(main_app:contact_path) %>> <%= link_to "Connect With Us", contact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>